<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huangdw.dao.TeleCardOrderMapper" >
  <resultMap id="BaseResultMap" type="com.huangdw.entity.TeleCardOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="sales_id" property="salesId" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="consignee_name" property="consigneeName" jdbcType="VARCHAR" />
    <result column="consignee_phone" property="consigneePhone" jdbcType="VARCHAR" />
    <result column="consignee_address" property="consigneeAddress" jdbcType="VARCHAR" />
    <result column="consignee_postalCode" property="consigneePostalcode" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="county_code" property="countyCode" jdbcType="VARCHAR" />
    <result column="province_code_belong" property="provinceCodeBelong" jdbcType="VARCHAR" />
    <result column="city_code_belong" property="cityCodeBelong" jdbcType="VARCHAR" />
    <result column="package_id" property="packageId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="error_code" property="errorCode" jdbcType="INTEGER" />
    <result column="close_reason" property="closeReason" jdbcType="INTEGER" />
    <result column="tele_order_no" property="teleOrderNo" jdbcType="VARCHAR" />
    <result column="tele_create_time" property="teleCreateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tele_card_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huangdw.entity.TeleCardOrder" >
    insert into tele_card_order (id, order_no, sales_id, 
      phone_number, cust_name, cust_id, 
      consignee_name, consignee_phone, consignee_address, 
      consignee_postalCode, province_code, city_code, 
      county_code, province_code_belong, city_code_belong, 
      package_id, status, error_code, 
      close_reason, tele_order_no, tele_create_time, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{salesId,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{custName,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, 
      #{consigneeName,jdbcType=VARCHAR}, #{consigneePhone,jdbcType=VARCHAR}, #{consigneeAddress,jdbcType=VARCHAR}, 
      #{consigneePostalcode,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{countyCode,jdbcType=VARCHAR}, #{provinceCodeBelong,jdbcType=VARCHAR}, #{cityCodeBelong,jdbcType=VARCHAR}, 
      #{packageId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{errorCode,jdbcType=INTEGER}, 
      #{closeReason,jdbcType=INTEGER}, #{teleOrderNo,jdbcType=VARCHAR}, #{teleCreateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.huangdw.entity.TeleCardOrder" >
    update tele_card_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      sales_id = #{salesId,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      cust_name = #{custName,jdbcType=VARCHAR},
      cust_id = #{custId,jdbcType=VARCHAR},
      consignee_name = #{consigneeName,jdbcType=VARCHAR},
      consignee_phone = #{consigneePhone,jdbcType=VARCHAR},
      consignee_address = #{consigneeAddress,jdbcType=VARCHAR},
      consignee_postalCode = #{consigneePostalcode,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      county_code = #{countyCode,jdbcType=VARCHAR},
      province_code_belong = #{provinceCodeBelong,jdbcType=VARCHAR},
      city_code_belong = #{cityCodeBelong,jdbcType=VARCHAR},
      package_id = #{packageId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      error_code = #{errorCode,jdbcType=INTEGER},
      close_reason = #{closeReason,jdbcType=INTEGER},
      tele_order_no = #{teleOrderNo,jdbcType=VARCHAR},
      tele_create_time = #{teleCreateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, order_no, sales_id, phone_number, cust_name, cust_id, consignee_name, 
    consignee_phone, consignee_address, consignee_postalCode, province_code, city_code, 
    county_code, province_code_belong, city_code_belong, package_id, status, error_code, 
    close_reason, tele_order_no, tele_create_time, create_time, update_time
    from tele_card_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, order_no, sales_id, phone_number, cust_name, cust_id, consignee_name, 
    consignee_phone, consignee_address, consignee_postalCode, province_code, city_code, 
    county_code, province_code_belong, city_code_belong, package_id, status, error_code, 
    close_reason, tele_order_no, tele_create_time, create_time, update_time
    from tele_card_order
  </select>
</mapper>