<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 将多个配置文件读取到容器中，交给Spring管理 -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:db.properties</value>
            </list>
        </property>
    </bean>

    <!--多个配置文件用逗号隔开或者用*进行模糊匹配，Spring容器仅允许最多定义一个PropertyPlaceholderConfigurer(或<context:property-placeholder/>)-->
    <!--<context:property-placeholder location="classpath:db.properties"/>-->

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <!--JDBC驱动类-->
        <property name="driverClassName" value="${db.driverClassName}"/>
        <!--数据库URL地址-->
        <property name="url" value="${db.url}"/>
        <!--访问数据库用户名-->
        <property name="username" value="${db.username}"/>
        <!--访问数据库的密码-->
        <property name="password" value="${db.password}"/>

        <!-- 初始化连接 -->
        <property name="initialSize" value="${db.initialSize}"/>
        <!-- 最大活动连接 -->
        <property name="maxActive" value="${db.maxActive}"/>
        <!-- 最大空闲连接 -->
        <property name="maxIdle" value="${db.maxIdle}"/>
        <!-- 最小空闲连接 -->
        <property name="minIdle" value="${db.minIdle}"/>
        <!-- 从池中取连接的最大等待时间，单位ms. -->
        <property name="maxWait" value="${db.maxWait}"/>

        <!--验证连接有效与否的SQL，不同的数据库配置不同-->
        <property name="validationQuery" value="${db.validationQuery}"/>
        <!--借出连接时不要测试，否则很影响性能-->
        <property name="testOnBorrow" value="${db.testOnBorrow}"/>
        <!--指明连接是否被空闲连接回收器(如果有)进行检验.如果检测失败,则连接将被从池中去除.-->
        <property name="testWhileIdle" value="${db.testWhileIdle}"/>
        <!--每30秒运行一次空闲连接回收器，检测需要关闭的空闲连接-->
        <property name="timeBetweenEvictionRunsMillis" value="${db.timeBetweenEvictionRunsMillis}"/>
        <!-- 池中的连接空闲60分钟后被回收 -->
        <property name="minEvictableIdleTimeMillis" value="${db.minEvictableIdleTimeMillis}"/>

        <!--缓存preparedStatement，即开启PSCache-->
        <property name="poolPreparedStatements" value="${db.poolPreparedStatements}"/>
        <!--PSCache大小-->
        <property name="maxOpenPreparedStatements" value="${db.maxOpenPreparedStatements}"/>

        <!-- 对于超过removeAbandonedTimeout秒未调用close()进行归还的连接，强制回收 -->
        <property name="removeAbandoned" value="${db.removeAbandoned}"/>
        <!-- 超时时间限制（默认为300秒，调整为1800） -->
        <property name="removeAbandonedTimeout" value="${db.removeAbandonedTimeout}"/>
        <!-- 当连接被回收时打印程序的stack traces日志 -->
        <property name="logAbandoned" value="${db.logAbandoned}"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置MyBaties全局配置文件:mybatis-config.xml -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!-- 扫描entity包 使用别名 -->
        <property name="typeAliasesPackage" value="com.huangdw.entity"/>
        <!-- 扫描sql配置文件:mapper需要的xml文件 -->
        <property name="mapperLocations" value="classpath:mapper/*.xml" />
    </bean>

    <!-- 4.配置扫描Dao接口包，动态实现Dao接口，注入到spring容器中 -->
    <bean name="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 注入sqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/><!--可以省略，因为只使用了一个DataSource-->
        <!-- 给出需要扫描Dao接口包 -->
        <property name="basePackage" value="com.huangdw.dao"/>
    </bean>

    <!--配置一个可以执行批量操作的sqlSession-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <constructor-arg name="executorType" value="BATCH"/>
    </bean>

    <!-- 配置事务管理器(mybatis采用的是JDBC的事务管理器) -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--控制住数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 配置基于 @Transactional 的声明式事务，基于CGLIB类代理（只能将注解放置在实现类上），默认基于JDK动态代理（可以将注解放置在接口或实现类上） -->
    <!--<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>-->

    <!--配置基于 <tx> 命名空间的声明式事务, 配置事务增强, 事务如何切入-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!--所有方法都是事务方法-->
            <tx:method name="*"/>
            <!--以get开始的所有方法-->
            <tx:method name="get*" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <!--切入点表达式-->
        <aop:pointcut id="aopPointcut" expression="execution(* com.huangdw.service..*(..))"/>
        <!--配置事务增强-->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="aopPointcut"/>
    </aop:config>

</beans>