<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--自动扫描且扫描除@Controller之外的所有注解-->
    <context:component-scan base-package="com.huangdw">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--定义aop Aspect自动代理-->
    <aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>

    <!--导入按模块分解的Spring配置文件-->
    <import resource="classpath:spring/spring-mybatis.xml"/>

    <!--通过此工具类获取Spring上下文中的Bean对象-->
    <bean class="com.huangdw.util.SpringContextUtil"/>

</beans>